

.navbar-pink {
    background-color: pink; /* Cambia el color a tu preferencia */
}
.header-info ul {
    display: flex; /* Utiliza flexbox para los elementos de la lista */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno de la lista */
}

.header-top{
    padding:  10px;
    border-bottom: 1px solid #e2e9e1;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}

.header-footer{
    border-bottom: 1px solid #e2e9e1;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    background: linear-gradient(
        to right,
        pink 5%,
        white 5% 10%,
        pink 10% 15%,
        white 15% 20%,
        pink 20% 25%,
        white 25% 30%,
        pink 30% 35%,
        white 35% 40%,
        pink 40% 45%,
        white 45% 50%,
        pink 50%, 55%,
        white 55% 60%,
        pink 60% 65%,
        white 65% 70%,
        pink 70% 75%,
        white 75% 80%,
        pink 80% 85%,
        white 85% 90%,
        pink 90% 95%,
        white 95%
      );
}

.header-info ul li {
    margin-right: 20px;
    position: relative; /* Para posicionar el pseudo-elemento */
}

.header-info ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.header-info ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-info ul li:not(:last-child)::after {
    content: "|"; /* Contenido del pseudo-elemento */
    position: absolute; /* Posiciona el contenido */
    right: -10px; /* Ajusta la posición horizontal */
}

.header-top {
    background: linear-gradient(
        to right,
        pink 5%,
        white 5% 10%,
        pink 10% 15%,
        white 15% 20%,
        pink 20% 25%,
        white 25% 30%,
        pink 30% 35%,
        white 35% 40%,
        pink 40% 45%,
        white 45% 50%,
        pink 50%, 55%,
        white 55% 60%,
        pink 60% 65%,
        white 65% 70%,
        pink 70% 75%,
        white 75% 80%,
        pink 80% 85%,
        white 85% 90%,
        pink 90% 95%,
        white 95%
      );
}

.menu {
    text-align: center;
    font-size: 16px;
    background-color: #f2f2f2; /* Color de fondo */
    padding: 25px 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio debajo del menú */
}

.menu ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline; /* Muestra los elementos en línea horizontal */
    margin-right: 30px; /* Espaciado entre elementos */
}

.menu ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.menu ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

.menu ul li a:hover {
    color: #000; /* Cambia el color del texto al pasar el mouse */
}

.banner {
    background-position-y: top;
    flex: 0 0 auto;
    width: 100%;
    height: 70vh; /* Puedes ajustar la altura según tus necesidades */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .banner {
        background-position-y: top;
        background-size: contain;
        background-repeat: no-repeat;
        height: 60vh; /* Ajusta la altura para dispositivos móviles */
        /* Otros estilos específicos para dispositivos móviles si es necesario */
    }
    .banner-carousel {
        height: 20vh;
    }
}

.banner-container {
    margin-bottom: 20px; /* Ajusta el margen inferior del contenedor del banner */
}



/* Estilos para las flechas */
.nav-arrows {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 75%;
    display: flex;
    justify-content: space-between;
    z-index: 2; /* Asegura que esté sobre el carrusel */
}

.arrow {
    cursor: pointer;
    color: black;
    font-size: 48px;
}

/* Estilos para los indicadores de puntos */
.banner-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active-dot {
    background-color: #717171;
}

/*!! revise esto  */

.nav-link.active {
    background-color: pink; /* Color de fondo rosado */
    color: white; /* Texto en color blanco */
    border-color: pink; /* Color del borde rosado (opcional) */
}

.view-more {
    position: absolute;
    left: 93%;
    top: 2%;
    /* Agrega estilos para el botón "Ver Todo" */
}

/* Estilo para el contenedor de la tarjeta */
.card {
    border: 1px solid #ccc; /* Borde delgago */
    border-radius: 8px; /* Bordes redondeados */
    padding: 5px 15px 0 15px;
    margin-bottom: 20px; /* Margen inferior */

}

.productos a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color por defecto del texto */
}

.productos a:hover {
    color: inherit; /* Mantiene el color del texto al pasar el ratón por encima */
    background-color: transparent; /* Elimina cualquier color de fondo al pasar el ratón por encima */
}

.productos .card {
    width: 300px;
    border: 3px solid pink;
    border-radius: 25px;
    margin-bottom: 30px !important;
    position: relative;
    /* height: 450px; */
    /* width: 300px;

    border: 1px solid var(--border);*/
}

.productos .card img {
    height: 400px; /* Altura fija para las imágenes */
    object-fit: cover; /* Escala la imagen para que llene la altura sin distorsión */
    border-radius: 22px 22px 0 0; /* Conserva la esquina redondeada en la parte superior */
}


/* Estilo para la imagen del producto */
.card-img-top {
    height: 400px;
    width: 270px !important;
    object-fit: contain;
    border-radius: 25px;
    padding: 5px; /* Espacio interno */
    border: none;
}
.card-info {
    padding: 10px;
}

.subcategoria-productos{
    border-top: 3px solid palevioletred;
    font-size: 13px;
    color: grey;
    /* font-size: 14px; */
    /* color: #888; */
    margin-bottom: 5px;
}

.card-title{
    margin-top: -10px;
    max-width: 100%;
    overflow: hidden; /* Oculta cualquier texto que exceda el tamaño máximo */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar texto truncado */
    white-space: nowrap;
    font-size: 18px;
    margin-bottom: 10px;

}

.card-money{
    margin-top: -10px;
    color: palevioletred;
    padding-top: 0;
    font-size: 18px !important;
    /* font-size: 16px; */
    /* color: #555; */
    margin-bottom: 0;
}

.card-header-category{
    font-size: 22px;
    margin-bottom: 20px !important;
    text-align: start!important;
    font-weight: bold;
}
.card-img-top-category {
    height: 280px;
    width: 270px !important;
    object-fit: contain;
    border-radius: 25px;
    padding: 5px; /* Espacio interno */
    border: none;
}

.card-title-category {
    margin-top: -0px;
    max-width: 100%;
    overflow: hidden; /* Oculta cualquier texto que exceda el tamaño máximo */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar texto truncado */
    white-space: nowrap;
}

.category .card {
    width: 300px;
    height: 330px;
    border: 3px solid pink;
    border-radius: 25px;
    /* border: 1px solid var(--border); */
    margin-bottom: 30px !important;
    position: relative;
}

.category a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color por defecto del texto */
}

.category a:hover {
    color: inherit; /* Mantiene el color del texto al pasar el ratón por encima */
    background-color: transparent; /* Elimina cualquier color de fondo al pasar el ratón por encima */
}

.card-blog {
    border: 1px solid #ccc; /* Borde delgago */
    border-bottom-left-radius:10px; /* Radio de borde inferior izquierdo */
    border-bottom-right-radius: 10px; /* Radio de borde inferior derecho */
    padding: 5px 15px 0 15px;
    margin-bottom: 20px; /* Margen inferior */
    text-decoration: none; /* Quitar el subrayado predeterminado */
    color: #717171;
}

.blog-image-container {
    height: 280px; /* Altura fija */
    width: 100%; /* Ancho del contenedor */
    border-top-left-radius: 10px; /* Radio de borde superior izquierdo */
    border-top-right-radius: 10px; /* Radio de borde superior derecho */

    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}
.blog-image-container img {
    width: 100%;
    height: auto;
}

.blog a {
    color: inherit;
    text-decoration: none;
}

.blog a:hover {
    text-decoration: underline;
}
.card-blog h5.card-title-blog{
    color: #000;
    font-weight: bolder;
}

.card-blog h5.card-title-blog a {
    color: inherit;
    text-decoration: none;
}

.card-blog h5.card-title-blog a:hover {
    text-decoration: underline;
}

.card-subtitle-category {
    margin-bottom: 5px; /* Ajusta la distancia entre el título y la categoría */
}

